@import "mixins/mixins.scss";

#scaffolding
{
	@include setWidthHeight(100%, 100%);
	-webkit-transform-style: preserve-3d;
	position: relative;
}
	
#scaff-frame
{
	@include absolutePositioning('top','left');
	-webkit-perspective: 0px;
	-webkit-perspective-origin: 50% 50%;
	-webkit-transform-style: preserve-3d;
	
	.elem
	{
		-webkit-transform-style: flat;
	}
}